{% extends 'base.html' %}

{% block body %}

    <div class="w3-container w3-center w3-padding-top-32">
        <h1>Registrierung</h1>
        <p> Hallo {{ current_user.nds }}, <br> <br>
            um am Vergabeprozess teilzunehmen, werden weitere Daten von Ihnen benötigt. Sie haben zudem die Möglichkeit
            auszuwählen, für welche Abschlussarbeiten/ Seminare Sie sich für die Teilnahme registrieren möchten.
            <br></p>
    </div>


    <form method="POST" action="{{ url_for('bp_student.register') }}" class="w3-container w3-margin-top w3-center">

    <!--- rest of the necessary attributes from current_user directly, so only two inputs and topic selection --->
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-col l3 w3-right-align">
                <label for="matrikelnummer">Matrikelnummer</label>
            </div>
            <div class="w3-col l9 w3-left-align">
                <input type="text" id="matrikelnummer" name="matrikelnummer" class="w3-input w3-border" required/>
            </div>
        </div>
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-col l3 w3-right-align">
                <label for="studiengang">Studiengang</label>
            </div>
            <div class="w3-col l9 w3-left-align">
                <select id="studiengang" name="studiengang" class="w3-select w3-border" required>
                    <option value="" disabled selected>Bitte wählen Sie einen Studiengang</option>
                    {% for sg in studiengaenge %}
                        <option value="{{ sg.studiengang_id }}">
                            {{ sg.bezeichnung }} ({{ sg.abschluss }})
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-col l3 w3-right-align">
                <label for="registrieren">Registrierung für:</label>
            </div>
            <div class="w3-col l9 w3-left-align">
                <div class="w3-row">
                    <div class="w3-col l12">
                        <input type="checkbox" id="bachelorarbeit" name="arten" value="1" class="w3-check"/>
                        <label for="bachelorarbeit" class="w3-margin-left">Bachelorarbeit</label>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12">
                        <input type="checkbox" id="projektseminar" name="arten" value="2" class="w3-check"/>
                        <label for="projektseminar" class="w3-margin-left">Projektseminar</label>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12">
                        <input type="checkbox" id="masterarbeit" name="arten" value="3" class="w3-check"/>
                        <label for="masterarbeit" class="w3-margin-left">Masterarbeit</label>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12">
                        <input type="checkbox" id="theoretisches_seminar" name="arten" value="4" class="w3-check"/>
                        <label for="theoretisches_seminar" class="w3-margin-left">Theoretisches Seminar</label>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12">
                        <input type="checkbox" id="praktisches_seminar" name="arten" value="5" class="w3-check"/>
                        <label for="praktisches_seminar" class="w3-margin-left">Praktisches Seminar</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-margin-bottom w3-center">
            <p><i class="fa fa-exclamation-triangle w3-text-red"></i><b>Wichtig:</b> Diese Daten sind nach Absenden für
                das aktuelle Semester nicht mehr änderbar!
                <i class="fa fa-exclamation-triangle w3-text-red"></i></p>
            <input type="submit" value="Registrieren"
                   class="w3-button w3-fids-color w3-padding-large w3-large w3-margin-top w3-round"/>
        </div>
    </form>

{% endblock %}
