{% extends 'layout/layout.html' %}

{% block pageContent %}

<div class="w3-container w3-center w3-padding-32">
    <h1><b>Registrierung</b></h1>
    <p>Sie sind am Vergabeprozess mit folgenden Daten registriert:</p>
</div>


<table class="w3-table w3-bordered">
    <tr>
        <th>Vorname</th>
        <td>{{ student.vorname }}</td>
    </tr>
    <tr>
        <th>Nachname</th>
        <td>{{ student.nachname }}</td>
    </tr>
    <tr>
        <th>NDS-Kennung</th>
        <td>{{ student.nds }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ student.email }}</td>
    </tr>
    <tr>
        <th>Matrikelnummer</th>
        <td>{{ student.matrikelnummer }}</td>
    </tr>
    <tr>
        <th>Studiengang</th>
        <td>{{ student.studiengang.bezeichnung}} ({{ student.studiengang.abschluss }})</td>
    </tr>
    <tr>
        <th>Registriert für</th>
        <td>
            <ul class="w3-ul">
                {% for art in arten %}
                <li><i class="w3-text-green w3-margin-left fa fa-check-square"></i>{{ art.art_typ }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>

<p>Falls eine Änderung dieser Daten gewünscht ist, kontaktieren Sie bitte unseren Systemadministrator: <a href="mailto:Volker.Berg@wiwi.uni-regensburg.de">Berg, Volker</a></p>

    <div class="w3-container w3-padding-small">
        <a href="{{ url_for('bp_index.index')}}"
            class="w3-button w3-fids-color w3-margin-top w3-round">Startseite</a>
    </div>

{% endblock %}
