{% extends 'layout/layout.html' %}

{% block pageContent %}

<div class="w3-container w3-center w3-padding-16">
    <h1>Neuer Lehrstuhl-Mitarbeiter </h1>
    <h5>für Lehrstuhl {{ mitarbeiter.lehrstuhl.name }}</h5>
</div>


<form method="POST" action="{{ url_for('bp_mitarbeiter.add_betreuer') }}" class="w3-container w3-center">
    <div class="w3-section w3-row-padding">
        <label for="nachname" class="w3-col l3 w3-right-align bold">Nachname</label>
        <input type="text" id="nachname" name="nachname" class="w3-input w3-border w3-col l9 w3-left-align" maxlength="100" value="{{ request.form.titel or '' }}" required/>
    </div>

    <div class="w3-section w3-row-padding ">
        <label for="vorname" class="w3-col l3 w3-right-align">Vorname</label>
        <input type="text" id="vorname" name="vorname" class="w3-input w3-border w3-col l9 w3-left-align" value="{{ request.form.beschreibung or '' }}" required />
    </div>

    <div class="w3-section w3-row-padding ">
        <label for="nds" class="w3-col l3 w3-right-align">NDS-Kennung</label>
        <input type="text" id="nds" name="nds" class="w3-input w3-border w3-col l9 w3-left-align" value="{{ request.form.beschreibung or '' }}" required />
    </div>

    <div class="w3-section w3-row-padding ">
        <label for="email" class="w3-col l3 w3-right-align">E-Mail</label>
        <input type="email" id="email" name="email" class="w3-input w3-border w3-col l9 w3-left-align" value="{{ request.form.beschreibung or '' }}" required />
    </div>



    <div class="w3-row-padding w3-margin-bottom w3-center">
        <input type="submit" value="Mitarbeiter hinzufügen" class="w3-button w3-fids-color w3-large w3-margin-top w3-round"/>
    </div>
</form>

{% endblock %}
