{% extends 'layout/layout.html' %}

{% block pageContent %}

<!-- Header -->
<div class="w3-container w3-center w3-padding-32">
    <h1><b>Profil</b></h1>
</div>

<div class="w3-container w3-margin-top">
    <!-- Profil Section -->
     <div id="Profil" class="w3-card-4 w3-margin-bottom w3-padding">
        <div class="w3-row" style="display: flex; align-items: center;">
            <div class="w3-third w3-center">
                <i class="fa fa-user w3-xxlarge"></i>
                <h3>Profil</h3>
            </div>
            <div class="w3-twothird w3-left-align">
                <p><b>Name:</b> {{ mitarbeiter.vorname }} {{ mitarbeiter.nachname }}</p>
                <p><b>NDS-Kennung:</b> {{ mitarbeiter.nds }}</p>
                <p><b>Lehrstuhl:</b> {{ mitarbeiter.lehrstuhl.name }}</p>
            </div>
        </div>
    </div>

    <!-- Lehrstuhl Section -->
    <div id="Lehrstuhl" class="w3-card-4 w3-margin-bottom w3-padding">
        <div class="w3-row" style="display: flex; align-items: center;">
            <div class="w3-third w3-center">
                <i class="fa fa-university w3-xxlarge"></i>
                <h3>Dein Lehrstuhl</h3>
            </div>
            <div class="w3-twothird w3-left-align">
                <ul class="w3-ul">
                    {% for lm in mitarbeiter.lehrstuhl.lehrstuhl_mitarbeiter %}
                        <li>{{ lm.nachname }}, {{ lm.vorname }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Themen Section -->
    <div id="Themen" class="w3-card-4 w3-margin-bottom w3-padding">
        <div class="w3-row" style="display: flex; align-items: center;">
            <div class="w3-third w3-center">
                <i class="fa fa-book w3-xxlarge"></i>
                <h3>Unsere Themen</h3>
                <a href="{{ url_for('bp_mitarbeiter.add_thema') }}" class="w3-button w3-fids-color w3-margin-top">Thema hinzufügen</a>
            </div>
            <div class="w3-twothird w3-left-align">
                <ul class="w3-ul">
                   {% for projekt in projekte %}
                        <li>{{ projekt.titel }}, ({{projekt.betreuer }})</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
