{% extends 'layout/layout.html' %}

{% block pageContent %}

<div class="w3-container w3-center w3-padding-16">
    <h1><b>{% if projekt %}Thema bearbeiten{% else %}Thema einstellen{% endif %}</b></h1>
    {% if not projekt %}
    <p> Lieber Mitarbeiter des {{ mitarbeiter.lehrstuhl.name }} <br>
    hiermit können sie aktuelle Themen für Abschlussarbeiten und Seminare im folgenden Semester einstellen.
    </p>
    {% endif %}
</div>


<form method="POST" action="{{ url_for('bp_mitarbeiter.edit_projekt', projekt_id=projekt.projekt_id) if projekt else url_for('bp_mitarbeiter.add_projekt') }}" class="w3-container w3-center">
    <div class="w3-section w3-row-padding">
        <label for="titel" class="w3-col l3 w3-right-align bold">Titel</label>
        <input type="text" id="titel" name="titel" class="w3-input w3-border w3-col l9 w3-left-align" maxlength="100" value="{{ request.form.titel or projekt.titel if projekt else '' }}" required/>
    </div>

    <div class="w3-section w3-row-padding">
        <label for="beschreibung" class="w3-col l3 w3-right-align">Beschreibung</label>
        <input type="e" id="beschreibung" name="beschreibung" class="w3-input w3-border w3-col l9 w3-left-align" value="{{ request.form.beschreibung or projekt.beschreibung if projekt else '' }}" required />
    </div>

    <div class="w3-section w3-row-padding">
        <label for="max_anzahl" class="w3-col l3 w3-right-align">Anzahl Studenten</label>
        <input type="number" id="max_anzahl" name="max_anzahl" class="w3-input w3-border w3-col l9 w3-left-align" min="1" max="9" value="{{ request.form.max_anzahl or projekt.max_anzahl if projekt else '' }}" required>
    </div>

    <div class="w3-section w3-row-padding">
        <label for="studiengang" class="w3-col l3 w3-right-align">Studiengang</label>
        <select id="studiengang" name="studiengang" class="w3-select w3-border w3-col l9 w3-left-align" required>
            {% for sg in studiengaenge %}
            <option value="{{ sg.studiengang_id }}" {% if request.form.studiengang == sg.studiengang_id|string or (projekt and projekt.studiengang_id == sg.studiengang_id) %}selected{% endif %}>
                {{ sg.bezeichnung }} ({{ sg.abschluss }})
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="w3-section w3-row-padding">
        <label for="fach" class="w3-col l3 w3-right-align">Geeignet für</label>
        <select id="fach" name="fach" class="w3-select w3-border w3-col l9 w3-left-align" required>
            {% for f in faecher %}
            <option value="{{ f.fach_id }}" {% if request.form.fach == f.fach_id|string or (projekt and projekt.fach_id == f.fach_id) %}selected{% endif %}>
                {{ f.bezeichnung }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="w3-section w3-row-padding">
        <label for="art" class="w3-col l3 w3-right-align">Art</label>
        <select id="art" name="art" class="w3-select w3-border w3-col l9 w3-left-align" required>
            {% for a in arten %}
            <option value="{{ a.art_id }}" {% if request.form.art == a.art_id|string or (projekt and projekt.art_id == a.art_id) %}selected{% endif %}>
                {{ a.art_typ }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="w3-section w3-row-padding">
        <label for="betreuer" class="w3-col l3 w3-right-align">Betreuer</label>
        <select id="betreuer" name="betreuer" class="w3-select w3-border w3-col l9 w3-left-align" multiple required>
            {% for mitarbeiter in mitarbeiter.lehrstuhl.lehrstuhl_mitarbeiter %}
            <option value="{{ mitarbeiter.ma_id }}" {% if projekt and mitarbeiter in projekt.betreuer %}selected{% endif %}>
                {{ mitarbeiter.vorname }} {{ mitarbeiter.nachname }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="w3-row-padding w3-margin-bottom w3-center">
        <input type="submit" value="{% if projekt %}Aktualisieren{% else %}Einstellen{% endif %}" class="w3-button w3-fids-color w3-large w3-margin-top w3-round"/>
        {% if projekt %}
        <a href="{{ url_for('bp_mitarbeiter.delete', projekt_id=projekt.projekt_id) }}" class="w3-button w3-fids-color w3-large w3-margin-top w3-round">Löschen</a>
        {% endif %}
        <a href="{{ url_for('bp_mitarbeiter.profil') }}" class="w3-button w3-fids-color w3-large w3-margin-top w3-round">Zurück</a>
    </div>
</form>

{% endblock %}


