{% extends 'layout/layout.html' %}

{% block pageContent %}


<!-- Header -->
<div class="w3-container w3-center" style="padding-bottom: 32px;">
    <h1><b>Themensuche aktuell noch nicht verfügbar</b></h1>
</div>

<div class="w3-panel w3-red">
    <p>Diese Seite ist aufgrund der aktuellen Phase im Vergabeprozesses nicht verfügbar.</p>
    <p>Bitte warten Sie bis {{ start_p2 }} und versuchen sie es erneut.</p>
</div> 


<div class="w3-container w3-padding-16">
    <a href="{{ url_for('bp_index.index')}}"
        class="w3-button w3-wiwi-color w3-padding-large w3-large w3-margin-top w3-round">Startseite</a>
</div>


{% endblock %}