{% extends 'layout/layout.html' %}

{% block pageContent %}


<!-- Header -->
<div class="w3-container w3-center" >
    <h1><b>Themen</b></h1>
</div>

    <form id="filterForm" class="w3-container w3-row" method="GET" action="{{ url_for('bp_themen.themen') }}">

        <div class="w3-row w3-margin-bottom">

            <div class="w3-col s12 w3-padding-bottom">
                <div class="w3-row w3-border w3-round w3-margin-bottom">
                    <div class="w3-col s4 m2">
                        <button class="w3-button w3-block {% if not art_filter %}w3-fids-color{% else %}w3-light-grey{% endif %}" type="button" onclick="filterByArtTyp('')">Alle</button>
                    </div>
                    {% for art in arten %}
                    <div class="w3-col s4 m2">
                        <button class="w3-button w3-block {% if art.art_typ == art_filter %}w3-fids-color{% else %}w3-light-grey{% endif %}" type="button" onclick="filterByArtTyp('{{ art.art_typ }}')">{{ art.art_typ }}</button>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="w3-col s9 m9">
                <input class="w3-input w3-round" type="text" name="search" placeholder="Alle durchsuchen..." value="{{ search_query }}">
            </div>
            <div class="w3-col s3 m3">
                <button class="w3-button w3-fids-color w3-round w3-margin-left w3-block" type="submit">Suchen</button>
            </div>
        </div>

    </form>


<div class="w3-container w3-margin-top">
    {% for lehrstuhl, projekte in lehrstuhl_dict.items() %}
        <div class="w3-container">
            <h3 class="w3-left-align w3-text-red">{{ lehrstuhl }}</h3>
            {% for projekt in projekte %}
                <div class="w3-card-4 w3-left-align w3-margin-bottom w3-white" onclick="toggleDescription(this)">
                    <header class="w3-container w3-pale-red">
                        <h5>{{ projekt.titel}} ({{ projekt.art.art_typ }})</h5>
                    </header>
                    <div class="w3-container">
                        <p><strong>geeignet für:</strong> {{ projekt.fach.bezeichnung }}
                            <strong>Betreuer:</strong>
                                {% for betreuer in projekt.betreuer %}
                                    {{ betreuer.vorname }} {{ betreuer.nachname }}
                                    {% if not loop.last %} / {% endif %}
                                {% endfor %}
                        </p>
                        <p class="description" style="display: none;">{{ projekt.beschreibung }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>


<div class="w3-container w3-padding-16">
    <a href="{{ url_for('bp_index.index')}}"
        class="w3-button w3-light-grey w3-margin-top w3-round">Startseite</a>
    <button onclick="scrollToTop()" class = "w3-button w3-light-grey w3-round w3-margin-top w3-round" >Nach oben</button>
</div>


<script>


    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    function filterByArtTyp(artTyp) {
        const url = new URL(window.location.href);
        const params = new URLSearchParams(url.search);
        if (artTyp) {
            params.set('art_typ', artTyp);
        } else {
            params.delete('art_typ');
        }
        window.location.search = params.toString();
    }

    function toggleDescription(element) {
        const description = element.querySelector('.description');
        if (description.style.display === 'none' || description.style.display === '') {
            description.style.display = 'block';
        } else {
            description.style.display = 'none';
        }
    }


</script>


{% endblock %}