{% extends 'layout/layout.html' %}

{% block pageContent %}


<!-- Header -->
<div class="w3-container w3-center w3-padding-top-48 w3-padding-32 w3-display-container" style="
    {% if art_typ == 'Bachelorarbeit' %}
        background-image: url('{{ url_for('static', filename='images/quadratic/bachelorarbeit.png') }}');
    {% elif art_typ == 'Masterarbeit' %}
        background-image: url('{{ url_for('static', filename='images/quadratic/masterarbeit.png') }}');
    {% elif art_typ == 'Projektseminar' %}
        background-image: url('{{ url_for('static', filename='images/quadratic/projektseminar.png') }}');
    {% elif art_typ == 'Praxisseminar' %}
        background-image: url('{{ url_for('static', filename='images/quadratic/praxisseminar.png') }}');
    {% elif art_typ == 'Theoretisches Seminar' %}
        background-image: url('{{ url_for('static', filename='images/quadratic/theoretischesseminar.png') }}');
    {% else %}
        background-image: url('{{ url_for('static', filename='images/quadratic/bachelorarbeit.png') }}');
    {% endif %}

    background-size: cover; background-position: center;">
    <h1 class ="w3-text-white"><b>Themen: {{ art_typ }}</b></h1>
</div>



<div class="w3-container w3-margin-top ">
    {% for lehrstuhl, projekte in lehrstuhl_dict.items() %}
        <div class="w3-container">
            <h3 class="w3-left-align w3-text-black">{{ lehrstuhl.name }}</h3>
            {% for projekt in projekte %}
                <div class="w3-card-4 w3-left-align w3-margin-bottom w3-white" onclick="toggleDescription(this)">
                    <header class="w3-container w3-padding-small {{ projekt.art.get_color() }}">
                        <div class="w3-col w3-padding-small l1 w3-center w3-hide-small w3-hide-medium">
                            {% set circle_class, circle_text = projekt.art.get_circle_tag() %}
                            <div class="circle-tag {{ circle_class }}">{{ circle_text }}</div>
                        </div>

                        <div class="w3-col l11 w3-display-container">
                            <h5>{{ projekt.titel }} ({{ projekt.art.art_typ }})</h5>
                        </div>
                    </header>
                    <div class="w3-container">
                        <p><strong>geeignet für:</strong> {{ projekt.fach.bezeichnung }}
                            <strong>Betreuer:</strong>
                                {% for betreuer in projekt.betreuer %}
                                    {{ betreuer.vorname }} {{ betreuer.nachname }}
                                    {% if not loop.last %} / {% endif %}
                                {% endfor %}
                        </p>
                        <p class="description" style="display: none;">{{ projekt.beschreibung }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>


<div class="w3-container w3-padding-16">
    <a href="{{ url_for('bp_index.index')}}"
        class="w3-button w3-fids-color w3-large w3-margin-top w3-round">Startseite</a>
    <button onclick="scrollToTop()" class = "w3-button w3-fids-color w3-large w3-margin-top w3-round" >Nach oben</button>
</div>


<script>


    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    function filterByArtTyp(artTyp) {
        const url = new URL(window.location.href);
        const params = new URLSearchParams(url.search);
        if (artTyp) {
            params.set('art_typ', artTyp);
        } else {
            params.delete('art_typ');
        }
        window.location.search = params.toString();
    }

    function toggleDescription(element) {
        const description = element.querySelector('.description');
        if (description.style.display === 'none' || description.style.display === '') {
            description.style.display = 'block';
        } else {
            description.style.display = 'none';
        }
    }


</script>


{% endblock %}