{% extends 'base.html' %}

{% block body %}


    <div class="w3-container w3-center w3-padding-top-32">
        <h1><b>Datenschutz</b></h1>
    </div>


    <!-- informations with regards to the data protection at university of regensburg -->
    <div class="w3-container">
        <div class="w3-panel w3-card w3-left-align">

            <h3>Geltungsbereich</h3>
            <p>Die Universität Regensburg bietet ein umfangreiches Online-Angebot und stellt damit viele Informations-
                und Serviceangebote insbesondere zur Unterstützung von Forschung und Lehre zur Verfügung. Bei der
                Nutzung von Webangeboten werden in der Regel personenbezogene oder auf Personen beziehbare Daten erhoben
                und verarbeitet. Art und Umfang der Daten sind abhängig vom jeweiligen Informations- oder
                Serviceangebot.</p>
            <p>Um Ihnen eine zielgerichtete Möglichkeit zu geben, sich zu informieren, ist in diesem Dokument allgemein
                beschrieben, welche Daten durch die Nutzung von Web-Angeboten der Universität Regensburg standardmäßig
                automatisch anfallen und wie diese verarbeitet werden.</p>
            <p>Zudem finden Sie hier alle Informationen zu Kontaktmöglichkeiten, zur Aufsichtsbehörde und Ihren Rechten
                im Kontext Datenschutz.</p>
            <p>Wenn bei Informations- oder Serviceangeboten weitere zusätzliche Daten erhoben und verarbeitet werden,
                finden Sie die entsprechenden Informationen detailliert beim entsprechenden Angebot.</p>

            <h3>Allgemeine Informationen zu Zweck und Rechtsgrundlage</h3>
            <p>Jegliche Datenverarbeitung steht unter dem Grundsatz der Erforderlichkeit und Zweckbindung sowie der
                Datensparsamkeit und des Schutzes der Daten nach dem jeweiligen Stand der Technik. Die Universität
                Regensburg erhebt nur so viele Daten, wie zur Erfüllung der jeweiligen Aufgabe erforderlich, verwendet
                diese nur für den jeweiligen Zweck und speichert diese auch nur so lange, wie jeweils rechtlich geboten.
                Rechtsgrundlage der Verarbeitung personenbezogener Daten ist immer eine gesetzliche Befugnis (z.B.
                Hochschulrecht, BayEGovG) oder eine Einwilligung des Betroffenen. Sie finden die entsprechenden
                Informationen detailliert beim entsprechenden Angebot.</p>

            <h3>Ihre Rechte</h3>
            <p>Sie haben ein Recht auf Auskunft über die von Ihnen gespeicherten Daten. Auf Antrag erhalten Sie
                Informationen über:</p>
            <ul>
                <li>die Verarbeitungszwecke,</li>
                <li>die Kategorien der personenbezogenen Daten,</li>
                <li>die Empfänger (-kategorien), denen diese Daten kenntlich gemacht wurden oder in Zukunft werden
                    sollen,
                </li>
                <li>die Dauer der Speicherung bzw. die Kriterien, die zu dieser Speicherdauer führen,</li>
                <li>die Herkunft der Daten, sofern diese nicht direkt bei Ihnen erhoben wurden.</li>
            </ul>
            <p>Ferner haben Sie ein Recht auf Berichtigung Ihrer Daten. Sie können der Verarbeitung widersprechen, diese
                einschränken und Ihre Daten löschen lassen, sofern die Daten nicht im Einzelfall aufgrund gesetzlicher
                Verpflichtungen (z.B. aus Hochschulrecht, Prüfungsrecht, Archivrecht) weiterhin verarbeitet werden
                müssen. Bei Verstößen haben Sie das Recht, sich bei der zuständigen Aufsichtsbehörde (siehe unten) zu
                beschweren.</p>

            <h3>Zuständige Aufsichtsbehörde</h3>
            <p>Die zuständige Aufsichtsbehörde ist:</p>
            <p>Der Bayerische Landesbeauftragte für den Datenschutz<br>
                Postfach 22 12 19<br>
                80502 München<br>
                <a href="mailto:poststelle@datenschutz-bayern.de">poststelle@datenschutz-bayern.de</a><br>
                <a href="https://www.datenschutz-bayern.de/" target="_blank">https://www.datenschutz-bayern.de/</a></p>
            <p>Bitte sprechen Sie zunächst den Datenschutzbeauftragten der Universität Regensburg an (siehe unten). In
                den meisten Fällen lassen sich Fragen auf diesem Wege klären und mögliche Probleme lösen.</p>

            <h3>Allgemeine Informationen zur Datenerfassung bei Online-Angeboten, Formulare und Kontaktaufnahme</h3>
            <p>Bei Ihrer Kontaktaufnahme mit uns per E-Mail oder über ein Kontaktformular werden die von Ihnen
                mitgeteilten Daten (Ihre E-Mail-Adresse, ggf. Ihr Name und Ihre Telefonnummer) von uns gespeichert, um
                Ihre Fragen zu beantworten. Die in diesem Zusammenhang anfallenden Daten löschen wir, nachdem die
                Speicherung nicht mehr erforderlich ist, oder schränken die Verarbeitung ein, falls gesetzliche
                Aufbewahrungspflichten bestehen.</p>

            <h3>Cookies</h3>
            <p>Auf den zentralen Informationsangeboten der Universität Regensburg (www.uni-regensburg.de bzw. www.ur.de)
                werden keine Cookies verwendet. Wir verwenden den sessionStorage-Mechanismus des DOM-Storage-Standards,
                um einen Rücksprung zu aufgeklappten Menüzuständen zu ermöglichen. Dabei werden das aufgerufene
                Orientierungsseiten-Menü, dessen Zustand und Titel (z. B.: "http://www.uni-regensburg.de/studium/",
                "10,-1,-1", "Studium") während der Sitzung im Browser hinterlegt. Im Gegensatz zu Cookies werden die
                Daten nicht persistent gespeichert und werden beim Schließen des Browserfensters sofort automatisch
                gelöscht. Diese Information steht in späteren Browser-Sitzungen nicht mehr zur Verfügung. Das
                Zugriffsverhalten der Nutzer kann dadurch nicht nachvollzogen werden. Ebenso ist ein Bezug auf die
                Person des Nutzers mit dieser Technik ausgeschlossen. Eine Nutzung der Webseiten ohne diese Technik ist
                jederzeit möglich.</p>
            <p>Serviceangebote der Universität Regensburg, die einen Login erfordern, verwenden üblicherweise
                Session-Cookies, die für die Dauer der Session auf dem Benutzerrechner gespeichert werden. Beim
                Schließen des Browsers oder Ausloggen werden diese Session-Cookies gelöscht. Wenn bei Informations- oder
                Serviceangeboten andere Cookie-Verfahren eingesetzt werden, finden Sie die entsprechenden Informationen
                detailliert beim entsprechenden Angebot.</p>

            <h3>Verantwortung und Ansprechpartner</h3>
            <p>Verantwortlicher gem. Art. 4 Abs. 7 EU-Datenschutz-Grundverordnung (DS-GVO) ist der Präsident der
                Universität Regensburg:</p>
            <p>Universität Regensburg<br>
                93040 Regensburg<br>
                <a href="mailto:kontakt@ur.de">kontakt@ur.de</a>.</p>
            <p>Ihr Ansprechpartner ist der Behördliche Datenschutzbeauftragte der Universität Regensburg:</p>
            <p>Universität Regensburg<br>
                Der Datenschutzbeauftragte<br>
                93040 Regensburg<br>
                <a href="mailto:datenschutzbeauftragter@ur.de">datenschutzbeauftragter@ur.de</a><br>
                <a href="http://www.uni-regensburg.de/universitaet/datenschutzbeauftragte" target="_blank">http://www.uni-regensburg.de/universitaet/datenschutzbeauftragte</a>
            </p>

            <h3>Sonstiges zu unserer Datenschutzerklärung</h3>
            <p>Wir behalten uns vor, diese Datenschutzerklärung gelegentlich anzupassen, damit diese stets den aktuellen
                rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung
                umzusetzen, z. B. bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue
                Datenschutzerklärung.</p>

            <h3>Ergänzungen zu Social-Media-Angeboten</h3>
            <p>Die Datenschutzerklärung gilt für Online-Angebote der Universität, die durch die Universität selbst
                betrieben werden und als Ergänzung, soweit wir personenbezogene Daten in eigener Verantwortung
                verarbeiten, für Auftritte bei:</p>
            <ul>
                <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                <li><a href="https://www.twitter.com/" target="_blank">Twitter</a></li>
                <li><a href="https://www.google.com/" target="_blank">Google+</a></li>
                <li><a href="https://www.youtube.com/" target="_blank">YouTube</a></li>
                <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
            </ul>
            <p>Wir gehen derzeit davon aus, dass wir keiner datenschutzrechtlichen Mitverantwortung unterliegen, soweit
                Ihre Daten durch diese Anbieter zu von diesen festgelegten Zwecken verarbeitet werden.</p>

            <h3>Zwecke und Rechtsgrundlagen der Verarbeitung</h3>

            <p>Unsere Social Media Auftritte sind Teil unserer Öffentlichkeitsarbeit. Unser Bestreben ist es,
                zielgruppengerecht zu informieren und sich mit Ihnen auszutauschen (Art. 2 Abs. 6 BayHSchG). Wir
                ermöglichen Ihnen eine schnelle elektronische Kontaktaufnahme und unmittelbare Kommunikation über die
                Medien Ihrer Wahl (§ 5 Abs. 1 Nr. 2 TMG).</p>
            <p>Inhalte und Beiträge, Anfragen, die Rechte Dritter verletzen oder die den Tatbestand einer Straftat oder
                Ordnungswidrigkeit erfüllen, gesetzlichen oder vertraglichen Verhaltenspflicht nicht entsprechen, legen
                wir durch Übermittlung an die zuständige Behörde bzw. dem Social-Media-Dienst offen und blockieren oder
                löschen diese.</p>
            <p>Cookies, Protokolldateien und Statistiken der oben genannten Social Media Anbieter verwenden wir zur
                Erstellung von Geschäftsstatistiken, zur Durchführung von Organisationsuntersuchungen, zur Prüfung oder
                Wartung unseres Webdienstes und zur Gewährleistung der Netz- und Informationssicherheit gemäß Art. 6
                Abs. 1 BayDSG, § 13 Abs. 7 TMG, Art. 11 Abs. 1 BayEGovG. Soweit uns dies möglich ist und der
                Verarbeitungszweck nicht beeinträchtigt wird, anonymisieren oder pseudonymisieren wir diese
                personenbezogenen Daten.</p>

            <h3>Empfänger oder Kategorien von Empfängern der personenbezogenen Daten</h3>
            <p>Soweit Sie unsere Social Media Kanäle und Seiten nutzen, verarbeiten auch deren Anbieter Ihre
                personenbezogenen Daten.</p>
            <p>Auch unsere IT-Dienstleister können im Rahmen der von uns abgeschlossenen Verträge zur
                Auftragsverarbeitung Empfänger Ihrer personenbezogenen Daten sein. Um die Sicherheit unserer
                Datenverarbeitungsanlagen zu gewährleisten, legen wir unsere Dienstleister jedoch nicht offen.</p>

            <h3>Übermittlung von personenbezogenen Daten an ein Drittland oder internationale Organisationen</h3>
            <p>Alle unsere Social Media Anbieter sind unter dem EU-US Privacy Shield und für jede Person einsehbar
                zertifiziert, sodass ein rechtlich angemessenes Schutzniveau für personenbezogene Daten besteht:</p>
            <ul>
                <li><a href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active"
                       target="_blank">Facebook, Inc.</a></li>
                <li><a href="https://www.privacyshield.gov/participant?id=a2zt0000000TORzAAO&status=Active"
                       target="_blank">Twitter Inc.</a></li>
                <li><a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active"
                       target="_blank">Youtube (Youtube LLC) und Google+ unter Google LLC</a></li>
            </ul>

            <h3>Dauer der Speicherung der personenbezogenen Daten</h3>
            <p>Kommunikation, Post, E-Mails und Social Media Beiträge und Nachrichten werden 6 Jahre nach Jahresende, in
                welchem der jeweilige Vorgang liegt, gelöscht.</p>


        </div>
    </div>


{% endblock %}