{% extends 'base.html' %}

{% block body %}


    <!-- Header -->    <div class="w3-container w3-center w3-padding-32">
        <h1><b>Themen</b></h1>
    </div>

    <form id="filterForm" class="w3-container" method="GET" action="{{ url_for('bp_index.themen') }}">

        <div class="w3-margin-bottom w3-row w3-border w3-round">
            <div class="w3-col s4 m2">
                <a href="{{ url_for('bp_index.themen', art_filter=None) }}"
                   class="w3-button w3-block {% if not art_filter %}w3-fids-color{% else %}w3-light-grey{% endif %}">Alle</a>
            </div>

            {% for art in arten %}
                <div class="w3-col s4 m2">
                    <a href="{{ url_for('bp_index.themen', art_filter=art.art_typ) }}"
                       class="w3-button w3-block {% if art.art_typ == art_filter %}w3-fids-color{% else %}w3-light-grey{% endif %}">
                        {% if art.art_id == 5 %}
                            Theor. Seminar
                        {% else %}
                            {{ art.art_typ }}
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>


        <div class="w3-row w3-margin-bottom">
            <div class="w3-col s9 m9">
                <input class="w3-input w3-round w3-border-black" type="text" name="search"
                       placeholder="Alle durchsuchen..." value="{{ search_query }}">
            </div>
            <div class="w3-col s3 m3">
                <button class="w3-button w3-fids-color w3-round w3-margin-left w3-block" type="submit">Suchen</button>
            </div>
        </div>

    </form>


    <div class="w3-container w3-margin-top">
        {% for lehrstuhl, projekte in lehrstuhl_dict.items() %}
            <div class="w3-container">

                <h3 class="w3-left-align w3-text-black w3-display-container">
                    {{ lehrstuhl.professor }}: {{ lehrstuhl.name }}
                    <a href="{{ lehrstuhl.homepage }}" class="w3-display-right w3-hover-opacity" title="Homepage">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </h3>

                {% for projekt in projekte %}
                    <div class="w3-card-4 w3-left-align w3-margin-bottom w3-white">
                        <header class="w3-container w3-padding-small {{ projekt.art.get_color() }}">
                            <div class="w3-display-container">
                                <!-- the get_badge() method returns the respective color and letter for the circle tag-->
                                <h5> {% set color, text = projekt.art.get_badge() %}
                                    <span class="w3-badge w3-margin-right w3-margin-left {{ color }}">{{ text }}</span>
                                    {{ projekt.titel }}
                                    <a href="javascript:void(0)" class="w3-right w3-padding-small"
                                       onclick="showDescription(this)">
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </h5>
                            </div>
                        </header>

                        <div class="w3-container w3-padding-small">
                            <div class="w3-row-padding">
                                <div class="w3-third">
                                    <p>geeignet für:<strong> {{ projekt.studiengang.bezeichnung }} </strong></p>
                                </div>
                                <div class="w3-third">
                                    {% if projekt.art.art_typ != 'Bachelorarbeit' and projekt.art.art_typ != 'Masterarbeit' %}
                                        <p>Maximale Teilnehmer:<strong> {{ projekt.max_anzahl }}</strong></p>
                                    {% else %}
                                        <p></p>
                                    {% endif %}
                                </div>
                                <div class="w3-third">
                                    <p>Betreuer:<strong>
                                        {% for betreuer in projekt.betreuer %}
                                            {{ betreuer.vorname }} {{ betreuer.nachname }}
                                            {% if not loop.last %}, {% endif %}
                                        {% endfor %} </strong></p>
                                </div>
                            </div>
                            <div class="w3-container">
                                <!-- display none necessary, because it should not show initiallly -->
                                <p class="description" style="display: none;">{{ projekt.beschreibung }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


    <div class="w3-container w3-small w3-center w3-w3-padding-large">
        <a href="{{ url_for('bp_index.index') }}"
           class="w3-button w3-fids-color w3-large w3-margin-top w3-round">Startseite</a>
        <a onclick="scrollToTop()" class="w3-button w3-fids-color w3-large w3-margin-top w3-round">Nach oben</a>
    </div>



    <script>
        //used for the "nach oben" button
        function scrollToTop() {
            window.scrollTo({top: 0, behavior: 'smooth'});
        }

        //shows the description when the arrow  on the right sight of a projekt is clicked
        function showDescription(link) {
            const card = link.closest('.w3-card-4');
            const description = card.querySelector('.description');
            const icon = link.querySelector('i');

            if (description.style.display === 'none' || description.style.display === '') {
                description.style.display = 'block';
                //changes the direction of the icon after opening and closing the description
                icon.classList.replace('fa-chevron-down', 'fa-chevron-up');
            } else {
                description.style.display = 'none';
                icon.classList.replace('fa-chevron-up', 'fa-chevron-down');
            }
        }


    </script>


{% endblock %}