{% extends 'layout/layout.html' %}

{% block pageContent %}


<div class="w3-container w3-center" >
    <h1><b>Willkommen auf der Startseite der Vergabetools.</b></h1>
</div>


<div class="w3-container w3-white w3-center w3-padding-large">

    <p>Liebe Studierende, über den Reiter "Themen" können sie zu den einzelnen Seminaren und Abschlussarbeiten die aktuell angebotenen Themen der Lehrstühle einsehen und nach ihren Bedürfnissen zu filtern. </p>


    {% if current_user.is_authenticated %}
        <p>Sie sind mit folgendem Nutzer angemeldet: {{ current_user.nds }}</p>
        <a href="{{ url_for('bp_auth.logout')}}"
                class="w3-button w3-fids-color w3-padding-large w3-large w3-margin-top w3-round">Logout</a>
        <a href="{{ url_for('bp_auth.register')}}"
                class="w3-button w3-fids-color w3-padding-large w3-large w3-margin-top w3-round">Registrieren</a>
    {% else %}
        <p>Sie sind aktuell nicht angemeldet. </p>
        <a href="{{ url_for('bp_auth.login')}}"
                class="w3-button w3-fids-color w3-padding-large w3-large w3-margin-top w3-round">Login</a>


        <!-- nur zum Testen -->
        <a href="{{ url_for('bp_auth.register')}}"
                class="w3-button w3-fids-color w3-padding-large w3-large w3-margin-top w3-round">Registrieren</a>

    {% endif %}

</div>


<!-- Themen nach Art -->
<div class="w3-container w3-margin-top w3-center">
    <h2>Aktuelle Themen</h2>
    <div class="w3-row-padding">
        <div class ="w3-col l1 w3-margin-bottom"><!-- da sonst 2 Spalten rechts falls großer Bildschirm -->
            <p></p>
        </div>
        <div class="w3-col l2 m4 s6 w3-margin-bottom">
            <a href="{{ url_for('bp_themen.themen_by_art', art_typ='Bachelorarbeit') }}">
                <img src="static/images/quadratic/bachelorarbeit.png" alt="Bachelorarbeit" class="w3-image w3-circle w3-hover-opacity" style="margin: 20px;">
            </a>
            <p class="w3-center w3-centered">Bachelorarbeit</p>
        </div>
        <div class="w3-col l2 m4 s6 w3-margin-bottom">
            <a href="{{ url_for('bp_themen.themen_by_art', art_typ='Projektseminar') }}">
                <img src="static/images/quadratic/projektseminar.png" alt="Projektseminar" class="w3-image w3-circle w3-hover-opacity" style="margin: 20px;">
            </a>
            <p class="w3-center">Projektseminar</p>
        </div>
        <div class="w3-col l2 m4 s6 w3-margin-bottom">
            <a href="{{ url_for('bp_themen.themen_by_art', art_typ='Masterarbeit') }}">
                <img src="static/images/quadratic/masterarbeit.png" alt="Masterarbeit" class="w3-image w3-circle w3-hover-opacity" style="margin: 20px;">
            </a>
            <p class="w3-center">Masterarbeit</p>
        </div>
        <div class="w3-col l2 m4 s6 w3-margin-bottom">
            <a href="{{ url_for('bp_themen.themen_by_art', art_typ='Praxisseminar') }}">
                <img src="static/images/quadratic/praxisseminar.png" alt="Praxisseminar" class="w3-image w3-circle w3-hover-opacity" style="margin: 20px;">
            </a>
            <p class="w3-center">Praxisseminar</p>
        </div>
        <div class="w3-col l2 m4 s6 w3-margin-bottom">
            <a href="{{ url_for('bp_themen.themen_by_art', art_typ='Theoretisches Seminar') }}">
                <img src="static/images/quadratic/theoretischesseminar.png" alt="Theoretisches Seminar" class="w3-image w3-circle w3-hover-opacity" style="margin: 20px;">
            </a>
            <p class="w3-center">Theoretisches Seminar</p>
        </div>
    </div>
</div>






<div class="w3-container w3-center w3-padding-32">
    <h2>Hinweise zur Themenvergabe</h2>
    <div class="w3-panel w3-card w3-center w3-padding-32">
        <h3>1. Phase</h3>
        <p>In der ersten Phase können Sie sich für die Teilnahme an der Vergabe registrieren.<br>
        <strong>{{ phasen.phase1_start }} bis {{ phasen.phase1_end }}</strong></p>
        <p>Themenvorstellung der Lehrstühle:<br>
        22.01 bis 26.01.2024</p>

        <h3>2. Phase</h3>
        <p>In der zweiten Phase können Sie Themen auswählen. Nach der zweiten Phase erfolgt die Vergabe der Plätze in den einzelnen Themen.<br>
        <strong>{{ phasen.phase2_start }} bis {{ phasen.phase2_end }}</strong></p>

        <h3>3. Phase</h3>
        <p>In der dritten Phase können Sie Ihr erhaltenes Thema einsehen, es ablehnen oder ein freies Thema wählen, sofern Ihnen beim Vergabeprozess kein Thema zugeteilt werden konnte.<br>
        <strong>{{ phasen.phase3_start }} bis {{phasen.phase3_end }}</strong></p>
    </div>
</div>


{% endblock %}